__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.git
.gitignore
Dockerfile
docker-compose.yml
README.md
*.md

# Local data
app/db/*.db
app/db/*.bak
*.log
data/
media/
downloads/

# Frontend
web/node_modules
web/dist
